DEBUG=
SECRET_KEY=

# Database Configuration
USE_SQLITE=
DATABASE_NAME=db
DATABASE_USER=postgres
DATABASE_PASSWORD=
DATABASE_HOST=localhost
DATABASE_PORT=5432

# OCR Providers Configuration
OLLAMA_URL=http://localhost:11434
OLLAMA_MODEL=llama3.2-vision
OLMOCR_API_URL=
OLMOCR_API_KEY=
MARKER_API_URL=
MARKER_API_KEY=
DEEPSEEK_MODEL=deepseek-r1
